@import "../../common/common.scss";

.CommunityMy{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .CommunityMy-inner{
    padding-top: 50px;
    height: 100%;
    background-color: #f9fbff;
    h2{
      margin: 30px 0 15px 55px;
      text-align: left;
      font-size: 30px;
    }
    .CommunityMy-post-box{
      position: relative;
      margin: 0 auto;
      height: 100%;
      max-width: 1100px;
      ul{
        overflow: auto;
        margin: 0 auto;
        width: 100%;
        height: 70%;
        li{
          cursor: pointer;
          position: relative;
          margin: 25px auto 0;
          width: 80%;
          height: 120px;
          text-align: left;
          border: 1px solid #fff;
          border-radius: 5px;
          box-sizing: border-box;
          box-shadow: 5px 5px 10px rgba(135, 126, 126, 0.376);
          background: #fff;
          transform: scale(1);
          transition: all 0.6s;
          h3{
            position: absolute;
            left: 10px;
            top: 20px;
            width: 500px;
            font-size: $font-xl;
          }
          .post-info{
            position: absolute;
            right: 10px;
            top: 24px;
            font-size: $font-sm;
            span{
              display: block;
              text-align: right;
            }
          }
          p{
            position: absolute;
            left: 10px;
            top: 70px;
            width: 780px;
            height: 80px;
            font-size: $font-base;
          }
          &:hover{
            transform: scale(1.1);
            border-color: $back-color1;
          }
        }
      }
      .community-add-icon{
        position: absolute;
        right: 3%;
        bottom: 27%;
        width: 60px;
        height: 60px;
        border: 1px solid $back-color1;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: 5px 5px 10px #e3e3e3;
        transform: scale(1);
        transition: all 0.6s;
        svg{
          width: 60%;
          height: 100%;
          color: $back-color1;
          text-align: center;
        }
        &:hover{
          transform: scale(1.1);
          border-color: $back-color1;
          background-color: $back-color1;
          svg{
            color: #fff;
          }
        }
      }
    }
  }
}