@import "../common/common.scss";

.chat main{
  width: 100%;
  height: 100vh;
  display: flex;

  .chat-list{
    min-width: 260px;
    height: calc(100vh - 50px);
    margin-top: 50px;
    background-color: #EFF0FF;
    ul > li > a,
    .chatroom-create-btn > button{
      display: inline-block;
      margin-top: 10px;
      padding: 10px 0;
      width: 240px;
      color: $font-color;
      text-align: left;
      font-size: 16px;
      font-family: $font-NoSansKR;
      border-radius: 5px;
      background-color: #EFF0FF;
      cursor: pointer;
      
      span{
        display: inline-block;
        text-indent: 15px;
        }
      svg{
        position: relative;
        left: 10px;
        top: 2px;
      }
      
    }
    ul > li > a{
      &:hover{background-color: #dfe0ff;}
    }
    .chatroom-create-btn > button{
      border: 2px solid #fff;
      &:hover{background-color: #dfe0ff;}
    }

  }
  .chat-room{
    width: 100%;
    height: calc(100vh - 50px);
    margin-top: 50px;
    
    /* txt-box */
    .txt-box{
      text-align: left;
      height: calc(100vh - 50px);
      overflow-y: scroll;
      scroll-behavior: smooth;
      transition: scroll-behavior 1s linear;

      > ul > li{
        position: relative;
        padding: 20px 0px;
        width: 100%;
        display: flex;
        justify-content: center;

        &::before{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          display: block;
          content: "";
          border-bottom: 1px solid #dadcff;
        }

        .icon-box{
          position: relative;
          width: 40px;
          height: 40px;
          border: 1px solid #9298ff;
          border-radius: 5px;
          background-color: #fff;
          svg{
            position: absolute;
            left: 2px;
            top: 5px;
            width: 36px;
            height: 30px;
            color: #9298ff;
          }
        }
        pre{
          width: 90%;
          height: auto;
          margin-left: 10px;
          margin-top: 7px;
          font-family: $font-NoSansKR;

        }
      }
      .user{
      }
      .chat-bot{
        background-color: rgb(247,247,248);
      }
      .empty-box{
        height: 190px;
      }
    }
    // txt-box

    /* chat-input-box */
    .chat-input-box{
      position: fixed;
      left: 0;
      bottom: 50px;
      width: 100%;
      
      .chat-input-box-inner{
        width: 750px;
        min-height: 60px;
        max-height: 230px;
        margin: 0 calc(50% - (382px - 130px));
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 4px 4px 5px rgb(210, 210, 210);
        textarea{
          min-height: 30px;
          max-height: 200px;
          font-family: 'Noto Sans KR', sans-serif;
          line-height: 1.5rem;
          font-size: $font-base;
        }
        button{
          width: 30px;
          height: 30px;
          cursor: pointer;
          svg{
            color: #bbbbbb;
            width: 100%;
            height: 100%;
            transform: rotate(10deg);
          }
          &:hover{
            svg{
              color: #000000;
            }
          }
        }
      }
    }
    // chat-input-box
  }
}