@import "../../common/common.scss";

.login{
  width: 100%;
  height: 100vh;
  font-family: $font-NoSansKR;
  color: $font-color;

  .login-inner{
    margin: 0 auto;
    padding-top: 50px;
    h2{
      margin-top: 50px;
      font-size: $font-xl;
      font-weight: 600;
      letter-spacing:2px;
      color: #7881ff;
    }
    > div.formBox{
      > * {
        margin: 20px auto 0;
        display: block;
        width: 300px;
        height: 50px;
        font-size: $font-base;
        border-radius: 5px;
      }
      input{
        text-indent: 7px;
        border: 1px solid $back-color1;
      }
      button{
        margin-top: 30px;
        font-weight: bolder;
        color: $font-color;
        background-color: $back-color3;
        &:hover{background-color: $back-color2;}
      }
    }
    .auto-login{
      position: relative;
      margin: 5px auto 0;
      width: 300px;
      text-align: left;
      input{
        margin-top: -3px;
        margin-right: 5px;
      }
      a{
        position: absolute;
        right: 0;
        top: 0;
        text-align: right;
        color: $back-color1;
      }
    }
    .sample-id{
      margin: 40px auto 0;
      width: 300px;
      height: 50px;
      overflow: hidden;
      transition: all 0.7s;
      h3{
        width: 300px;
        height: 50px;
        line-height: 50px;
        border: 1px solid #7881ff;
        border-radius: 5px;
        box-sizing: border-box;
        background-color: #ffffff;
        transition: all 0.7s;
        cursor: pointer;
        svg{
          transform: rotate(90deg) translateX(1px);
        }
      }
      .sample-list{
        width: 100%;
        overflow: hidden;
        ul{
          opacity: 1;
          border: 1px solid #79b1ff;
          border-radius: 0 0 5px 5px;
          transform: translateY(-180px);
          transition: all 0.7s;
          li{
            width: 100%;
            height: 40px;
            line-height: 40px;
            transition: all 0.7s;
            cursor: pointer;
            &:hover{
              background-color: rgba(0, 0, 0, 0.04);
            }
          }
        }
      }
      &:hover{
        height: 100%;
        h3{
          color: #fff;
          background-color: #7881ff;
          border-radius: 5px 5px 0 0;
        }
        .sample-list{
          width: 100%;
          height: 100%;
          ul{
            opacity: 1;
            transform: translateY(0);  
          }
        }
      }
    }
  }
}

// <div className='auto-login'>
  // <input type='checkbox' />
  // <span>자동 로그인</span>
  // <Link to={"/register"}>회원가입</Link>
// </div>

// <div className='sample-id'>
//   <h3>샘플 계정 리스트 <CiPlay1 /></h3>

//   <div className='sample-list'>
//     <ul>
//       <li>kim 계정</li>
//       <li>park 계정</li>
//       <li>test 계정</li>
//     </ul>
//   </div>
// </div>

// <div className='auto-login'>
  // <input type='checkbox' />
  // <span>자동 로그인</span>
  // <Link to={"register"}>회원가입</Link>
// </div>
// $font-xs: 12px; 
// $font-sm: 14px;   // mobile-본문
// $font-base
// $font-lg
// $back-color1: #79b1ff;
// $back-color2: #dfe0ff;
// $back-color3: #EFF0FF;